p {
    color: blue;
    font-family: Georgia; /*not sure if that'll work*/
}



/*CSS RESET BELOW*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: red;
}
