#container {
	padding-top: 50px;
	margin: 0 auto;
	width: 480px;
}
canvas {
	background: #000000;
	padding-top: 50px;
	width: 480px;
}



/*CSS RESET BELOW*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: red;
}
